[submodule "3rdparty/libiphb"]
	path = 3rdparty/libiphb
	url = https://github.com/nemomobile/libiphb.git
[submodule "3rdparty/nemo-qml-plugin-dbus"]
	path = 3rdparty/nemo-qml-plugin-dbus
	url = https://github.com/nemomobile/nemo-qml-plugin-dbus.git
[submodule "3rdparty/libdsme"]
	path = 3rdparty/libdsme
	url = https://github.com/nemomobile/libdsme.git
